{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "10.13.0"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ]
  ]
}
